/* ----------------------------------- HEADER AND HEADER-BUTTONS -----------------------------------*/
/*.root{
    -fx-background-color: -fx-primary;
}*/
.main {
	-fx-background-color: #ededed;
}

.toolbar {
	-fx-background-color: #292d32, #2d2f36, #5a606b, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
	-fx-background-insets: 0 0 0 0, 0 0 1 0, 0 0 1 0, 0 0 1 0, 0 0 2 0;
	-fx-padding: 0;
	-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 2);
}

.header-button {
	-fx-background-color: #292d32, #2d2f36, #5a606b, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 1 1 0, 0 1 1 1, 0 1 2 1;
	-fx-background-radius: 0;
	-fx-padding: 0;
	-fx-text-alignment: center;
	-fx-font-size: 12px;
}

.header-button-right {
	-fx-background-color: #292d32, #5a606b, #2d2f36, #5a606b, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 1 1 0, 0 2 1 0, 0 2 1 1, 0 2 2 1;
}

.header-button-left {
	-fx-background-insets: 0, 0 0 1 0, 0 1 1 1, 0 1 1 2, 0 1 2 2;
}

.header-button-shape {
	-fx-fill: white;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

 .alarms-present {
	-fx-background-color: #ab2627, #ab2627, #ce5a5b, #901718, linear-gradient(#e84b4c 0%, #c53839 50%, #ba2e2f 50% , #d33e3f 100%);
}

.header-button Text {
    -fx-fill: white;
	-fx-font-family: "Open Sans Bold";
	-fx-font-size: 13px;
	-fx-stroke-width: 0;
}

.bar {
	-fx-background-insets: 0, 0 0 1 0, 0 1.9 1 0, 0 1.9 1 1.5, 0 1.9 2 1.5;
	-fx-background-radius: 0,0,0,0;
	-fx-shape: "M 0 0 L 13 22.5 L 0 45 L 25 45 L 115 45 L 140 45 L 153 22.5 L 140 0 L 115 0 L 25 0 L 0 0 z";
}

.first {
	-fx-background-insets: 0, 0 0 1 0, 0 1.5 1 1, 0 1.5 1 2, 0 1.5 2 2;
    -fx-background-radius: 0;
    -fx-shape: "M 0 0 L 0 3 L 0 42 L 0 45 L 3 45 L 45 45 L 115 45 L 140 45 L 153 22.5 L 140 0 L 115 0 L 45 0 L 3 0 L 0 0 z";
    -fx-padding: 0 13 0 0;
    
}

.last {
	-fx-background-color: #292d32, #666c78, #2d2f36, #666c78, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
	-fx-background-insets: 0, 0 0 1 0, 0 1 1 0, 0 2 1 0, 0 2 1 1.5, 0 2 2 1.5;
	-fx-background-radius: 0;
	-fx-shape: "M 0 0 L 13 22.5 L 0 45 L 25 45 L 108 45 L 128 45 L 150 45 L 153 45 L 153 42 L 153 3 L 153 0 L 150 0 L 128 0 L 108 0 L 25 0 L 0 0 z";
	-fx-padding: 0 0 0 13;
}

.header-button:pressed, .header-button.selected {
	-fx-background-color: #292d32, #3c4147, #2d2f36, #292d32, linear-gradient(#303238 0%, #2e3136 50%, #2a2d31 50%, #32363b 100%);
}

.header-button-right:pressed, .header-button-right.header-button.selected, .last.selected {
	-fx-background-color: #292d32, #3c4147, #2d2f36, #292d32, linear-gradient(#303238 0%, #2e3136 50%, #2a2d31 50%, #32363b 100%);
}

.alarms-present:pressed,  .alarms-present.selected {
 	-fx-background-color: #8b2525, #8b2525, #8b2525, #8b2525, #8b2525;
 }

.header-button:disabled {
	-fx-opacity: 1;
}

.header-button.alarms-present:disabled {
	-fx-background-color: #8b2525, #8b2525, #8b2525, #8b2525, #8b2525;
	-fx-background-color:  #292d32, #2d2f36, #5a606b, #42454e, linear-gradient(#656c7b 0%, #424750 50%, #3d4148 50% , #4c505a 100%);
}

.header-button.selected:disabled {
	-fx-opacity: 0.5;
}

.header-button-shape:disabled  {
	-fx-fill: #747981;
    -fx-text-alignment: center;
    -fx-padding: 0 0 0 5;
}

.header-button:disabled Text {
   -fx-fill: #747981;
}
.dialog {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
	-fx-background-color: #3d4046, #777a81, linear-gradient(#67696f 0%, #616369 100%);
	-fx-background-insets: 0, 1, 2 1 1 1;
	-fx-background-radius: 3, 2, 1;
}

.dialog-btn {
	-fx-background-color: #3b3f46, #5b6068, linear-gradient(#52555c 0%, #4f5158 100%);
	-fx-background-insets: 0, 1 1 1 1, 2 1 1 1;
	-fx-background-radius: 0;
}

.dialog-btn.left {
	-fx-background-radius: 0 0 0 3, 0 0 0 2, 0 0 0 1;
}

.dialog-btn.right {
	-fx-background-radius: 0 0 3 0, 0 0 2 0, 0 0 1 0;
}

.dialog-btn Text {
	-fx-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: "Open Sans Semiold";
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
	-fx-padding: 0 0 0 5;
}

.dialog-title-label {
	-fx-alignment: bottom-center ;
	-fx-font-family: "Open Sans Bold";
	-fx-font-size: 16px;
	-fx-font-smoothing-type: lcd;
	-fx-text-alignment: center;
}

.dialog-msg {
	-fx-padding: 20;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-text-wrap: true;
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-family: "Open Sans";
	-fx-font-smoothing-type: lcd;
	-fx-fill: white;
	-fx-text-fill: white;
}

.dialog-btn:pressed {	
	-fx-background-color: #292d32, #292d32, #292d32, #2a2d31;
}

.dialog-btn:disabled {
	-fx-opacity: 1;
}

.dialog-btn:disabled Text {
	-fx-opacity: 0.5;
}
.alarms-popup {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 8, 0, 0, 1);
	-fx-background-color: rgba(49, 51, 56, 1), rgba(66, 68, 74, 1);
	-fx-background-insets: 0,  0 1 1 0;
	-fx-background-radius: 0 0 3 0, 0 0 2 0;
}
.pop-up-btn {
	-fx-background-color: #5b6068, #3b3f46, #5b6068, linear-gradient(#52555c 0%, #4f5158 100%);
	-fx-background-insets: 0, 0 0 0 0, 1 1 0 1, 2 1 0 1;
	-fx-background-radius: 0;
}

.pop-up-first {
	-fx-background-insets: 0, 0 0 0 0, 0 1 0 1, 0 1 0 1;
}

.pop-up-btn Text {
	-fx-fill: white;
	-fx-text-alignment: center;
	-fx-font-family: 'Open Sans Semibold';
	-fx-font-size: 13px;
	-fx-font-smoothing-type: lcd;
	-fx-padding: 0 0 0 5;
}

.pop-up-btn-bottom {
	-fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
	-fx-background-insets: 0, 0 0 0 0, 1 1 1 1, 2 1 1 1;
}

.pop-up-btn-pressed, .pop-up-btn:pressed {	
	-fx-background-color: #292d32, #292d32, #292d32, #2a2d31;
}

.pop-up-btn:disabled {
	-fx-opacity: 1;
}

.pop-up-btn:disabled Text {
	-fx-opacity: 0.5;
}